{%extends 'companies/base.html'%}
{% load i18n%}
{% block body %}
<h2><a href="{% url 'companies_list'%}">{{company.company_name}}</a></h2>
{% if company %}
        <h3>{%trans "Works"%}</h3>
        <ul class="zebra">
            {% for work in company.work_set.all %}
            <li><a href="{% url 'set_worker' company.id work.id %}">{{ work.work_name }}</a></li>
            {% endfor%}
        </ul>
<a href="{% url 'create_work' company.id %}"><button>{%trans "Add"%}</button></a>
<a href="{% url 'manager_list' company.id %}"><button>{%trans "Managers"%}</button></a>
{% endif %}

{% endblock %}