{%extends 'companies/base.html'%}
{% block body %}
<link rel=stylesheet href=/static/style.css type=text/css>
<h2><a href="{% url 'details' company.id%}">{{company.company_name}}</a>: {{work.work_name}}</h2>
{% if work %}
<table class="zebtable">
    <tr>
        <th>Work Place</th>
        <th>Worker</th>
    </tr>
    {%for workplace in work.workplace_set.all %}
    <tr>
        <td>{{workplace.workplace_name}}:</td>
        <td>{{workplace.worker}}</td>
    </tr>
    {%endfor%}
</table>
{% endif %}
{% endblock %}